<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UFA Stats Application</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      const sznOrGameDropdown = document.getElementById('sznOrGame');
      if (sznOrGameDropdown) {
        sznOrGameDropdown.addEventListener('change', () => {
          console.log('hi');
        });
      }
    </script>
  </head>
  <body id="player-input">
    <h1>UFA Stats Application</h1>
    <p>Enter a player name and year.</p>
    <form id="player-form" action="/player" onsubmit="return validateFormPlayer()">
      <input type="text" name="year" id="year" placeholder="Enter year" oninput="enablePlayerForm()" />
      <button type="button" id="year-submit" onclick="submitYearPlayer() ">Submit Year</button>
      <button type="button" id="year-reset" onclick="window.location.href = '/player-input.html';">Reset</button>

      <select name="player" id="player"  placeholder="Enter player name"style="display: none" disabled >
        <!-- Options should be populated dynamically -->
      </select>
      
              <!-- Allow user to select season or games -->
      <select name="sznOrGame" id="sznOrGame" placeholder="Season or game stats?" style="display: none; margin-bottom: 10px;"  disabled onchange="gameOrSzn()" >
        <option value="season" >Season</option>
        <option value="game">Game</option>
      </select>
              
      
          <!-- Different games to select from -->
      <select name="games" id="games"  placeholder="Select or enter a game"style="display: none" disabled >
        <!-- Options should be populated dynamically -->
      </select>

      <button type="submit" id="submitButton" style="display: none">Submit</button>

    </form>

    <button id="home-button" onclick="window.location.href = '/';">Home</button>


  </body>
</html>
