<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <link rel="icon"  type= "image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />

    
</head>
<body>
    <h1>Player not found, please enter a valid player name or year.</h1>
    <h2>Please try again</h2>

    <form id= "player-form" action="/player/player" onsubmit="return validateForm()">
        <input type="text" name="year" id="year" placeholder="Enter year" oninput="enablePlayerForm()">
        <button type="button" id="year-submit" onclick="submitYear()">Submit</button>

        <input type="text" name="player" id="player" placeholder="Enter player name" disabled>
        <button type="submit" id="submitButton" style="display: none;">Submit</button>
    </form>

    <script>
        function submitYear() {
            const yearInput = document.getElementById("year").value.trim();

            if(yearInput){
                document.getElementById("player").disabled = false;
                document.getElementById("submitButton").style.display = "inline-block";
                document.getElementById("year-submit").style.display = "none";
                //document.getElementById("year").disabled = true;
            }
            else{
                alert("Please enter a year");
            }
        }
        function enablePlayerForm() {
            const yearInput = document.getElementById("year").value.trim();
            const playerField = document.getElementById("player");
            const yearButton = document.getElementById("year-submit");
        
            if (yearInput) {
                yearButton.disabled = false;
            } else {
                yearButton.disabled = true;
            }        
        }
        function validateForm() {
            const playerInput = document.getElementById("player").value.trim();
            const yearInput = document.getElementById("year").value.trim();

            if (!yearInput || !playerInput) {
                alert("Both fields are required.");
                return false;
            }
            return true;
        }
    </script>

    <button id="go-back-button" onclick="history.back()">Go Back</button>
    <button id="home-button" onclick="window.location.href = '/';">Home</button>



    
</body>
</html>