<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
<body>
    <h1>Player not found, please enter a valid player name or year.</h1>
    <h2>Please try again</h2>
    <p>Welcome to the UFA Stats Application!</p>
    <form action="/player/player">
        <input type="text" name="player" id="player" placeholder="Enter player name">
        <input type="text" name="year" id="year" placeholder="Enter year">
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>