/* Reset and general styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #737399;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #000000f3;
    margin-bottom: 10px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 4px rgba(108, 99, 255, 0.5);
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

#go-back-button {
    /* Add specific styles for the "Go Back" button */
    position: absolute;
    top: 90px; /* Distance from the top */
    left: 75px; /* Distance from the left */
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
}

#home-button {

    position: absolute;
    top: 90px; /* Distance from the top */
    right: 75px; /* Distance from the right */
    background-color: rgb(150, 125, 241);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 15%;
}

button:hover {
    background-color: #574bcd;
    transform: translateY(-2px);
}

button:active {
    background-color: #453aa6;
    transform: translateY(0);
}

#go-back-button:hover {
    background-color: lightblue;
    transform: scale(.98, .98);
}
#go-back-button:active {
    background-color: lightblue;
    transform: scale(1, 1);
}

#home-button:hover {
    background-color: rgb(150, 125, 241);
    transform: scale(.98, .98);
}
#home-button:active {
    background-color: rgb(150, 125, 241);
    transform: scale(1, 1);
}

/* Responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    form {
        padding: 15px;
    }

    button {
        font-size: 0.9rem;
        padding: 10px;
    }
}
